nav.header {
    padding-right: 0;
    height: 56px;
    position: fixed;
    top: 10px;
    color: var(--white);
    z-index: 100;
    width: 100%;
    // border-bottom: 1px solid rgb(255, 255, 255);
    // border-top: 1px solid rgb(255, 255, 255);

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        width: 100%;
        height: 100%;
    }

    .logo {
        cursor: pointer;
        position: relative;
        display: block;

        .f,
        .h {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: var(--white);
            color: var(--black);
        }

        .f {
            width: 52px;
            height: 52px;
            font-size: 28px;
            font-weight: 800;
        }

        .h {
            width: 15px;
            height: 15px;
            font-size: 8px;
            font-weight: 600;
            position: absolute;
            right: -12px;
            bottom: 0;
        }
    }

    .center ul {
        display: flex;
        gap: 10px;
        font-size: 11.5px;
        font-weight: 400;
        letter-spacing: 2px;
        align-items: center;

        li a,
        li:not(:first-child) {
            padding: 8px 0;
            cursor: pointer;
            mix-blend-mode: difference;
            color: var(--white);


            &:hover {
                border-bottom: 1px solid var(--white);
            }
        }
    }



}


.copiright {
    position: fixed;
    color: var(--white);
    bottom: 165px;
    left: 25px;
    opacity: 0.8;
    font-size: 12px;
    z-index: 300;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    transform-origin: bottom left;
    letter-spacing: 1.5px;
}