@font-face {
    font-family: Regular;
    src: url('/fonts/PPGatwick-Regular.otf');
}


.project-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
    overflow-y: auto;

    .project-liste {
        width: 100%;

        .project-item {
            font-family: Regular;
            padding: 24px;
            padding-left: 50px;
            border-top: 1px solid var(--white);
            font-size: 4.5vw;
            font-weight: 400;
            cursor: pointer;
            color: var(--white);
            position: relative;

            &:last-child {
                border-bottom: 1px solid var(--white);
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -15px;
                width: 15px;
                height: 100%;
                background-color: var(--white);
                transition: all 0.25s ease;
            }

            span {
                // transition: all 1s ease;
                display: inline-block;
                animation: onUnHover 0.3s ease forwards;
                opacity: 1;
            }

            &:hover {
                span {
                    animation: onHover 0.3s ease forwards;
                }

                &::before {
                    left: 0px;
                }
            }
        }
    }
}


@keyframes onHover {
    0% {
        scale: 1;
        opacity: 1;
    }

    100% {
        opacity: 0.7;
        scale: 0.95;
    }
}


@keyframes onUnHover {
    0% {
        scale: 0.95;
        opacity: 0.7;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}