@use "../../assets//scss//common/mixins" as *;

.contact {
    padding: 40px 0;

    .contact_title {
        font-size: clamp(1.25rem, 0rem + 6.25vi, 10rem);
    }


    .contact_form {
        display: flex;
        flex-direction: column;
        gap: 35px;
        position: relative;


        &.loadingForm {
            background: #ffffff24;
            animation: backgroundLoading 2s linear infinite;
            pointer-events: none;
            cursor: not-allowed;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -30px;
                margin-left: -30px;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                border: 5px solid grey;
                border-top-color: rgb(255, 255, 255);
                animation: loading 2s linear infinite;
            }
        }

    }

    @keyframes backgroundLoading {
        0% {
            background: #ffffff00;
        }

        50% {
            background: #ffffff24;
        }

        100% {
            background: #ffffff00;
        }
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }



    .form__group {
        position: relative;
        padding: 20px 0 0;
    }

    .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #d2d2d2;
        outline: 0;
        font-size: 25px;
        color: #ffffff;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        margin-bottom: 5px;

        @include max(992px) {
            font-size: 20px;
        }
    }


    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: #ffffff;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px #23232329;
    }


    .form__field::placeholder {
        color: transparent;
    }

    .form__field:placeholder-shown~.form__label {
        font-size: 16px;
        cursor: text;
        top: 35px;
    }

    label,
    .form__field:focus~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 12px;
        color: #9b9b9b;
    }

    .form__field:focus~.form__label {
        color: var(--white);
    }

    .form__field:focus {
        padding-bottom: 6px;
        border-bottom: 2px solid var(--white);
    }

    textarea.form__field {
        resize: none;
        height: 240px;
        width: 100%;
        overflow-y: auto;
    }

    .contact_button {
        padding: 0.1em 0.25em;
        height: 4.2em;
        background-color: #212121;
        border: 0.08em solid #fff;
        border-radius: 0.3em;
        font-size: 12px;
        cursor: pointer;
        width: 200px;
        align-self: flex-end;

        span {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0.4em;
            width: 8.25em;
            height: 2.5em;
            background-color: #212121;
            border-radius: 0.2em;
            font-size: 1.5em;
            color: #fff;
            border: 0.08em solid #fff;
            box-shadow: 0 0.4em 0.1em 0.019em #fff;
            width: 100%;
        }

        span:hover {
            transition: all 0.2s;
            transform: translate(0, 0.4em);
            box-shadow: 0 0 0 0 #fff;
        }

        span:not(hover) {
            transition: all 0.3s;
        }
    }

    .error-msg {
        color: #ff2c2c;
        height: 16px;
        display: block;
        width: 100%;
    }
}