@use "./toRem" as *;
@use "./mixins" as *;
@use "./breakpoint" as *;

/*bouton*/
.btn {
    // padding: toRem(15.5px) toRem(16px);
    display: inline-block;
    text-decoration: none;
    border-radius: toRem(0px);
    font-size: toRem(16px);
    line-height: 1;
    font-family: var(--font-primary);
    @include animation-all();
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: fit-content;
    font-weight: 700;

    @include max($mobile-max) {
        font-size: toRem(12px);
    }

    &.btn-with-icon {
        border: 2px solid var(--color-secondary);
        background: var(--white);
        color: var(--color-secondary);
        transition: padding-right 0.25s ease;
        gap: toRem(15px);
        text-transform: uppercase;
        font-weight: 900;

        div {
            display: inline-flex;
            align-items: center;
            position: relative;
            padding: toRem(15.5px) toRem(16px);
        }

        svg {
            position: absolute;
            right: toRem(-15px);
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:hover {
            padding-right: 30px;

            svg {
                opacity: 1;
            }
        }
    }

    &.btn-primary {
        border: 1px solid var(--color-secondary);
        background: var(--white);
        color: var(--color-secondary);
        transition: var(--transition);
        padding: toRem(13.5px) toRem(32px);

        &:hover {
            background: var(--color-secondary);
            color: var(--white);
        }
    }

    &.btn-secondary {
        background: var(--btn-secondary-bg-color);
        border: 1px solid var(--btn-secondary-border-color);
        color: var(--btn-secondary-color);

        &:hover {
            background: var(--btn-secondary-bg-color-hover);
            border-color: var(--btn-secondary-border-color-hover);
            color: var(--btn-secondary-color-hover);
            box-shadow: 0px 4px 8px 0px var(--btn-secondary-color-hover-box-shadow);
        }
    }

    &.btn-outline-primary,
    &.btn-outline-secondary {
        color: var(--color-text);
        background: transparent;
    }

    &.btn-outline {
        background: var(--btn-outline-bg-color);
        border-color: var(--btn-outline-border-color);
        color: var(--btn-outline-color);

        &:hover {
            background: var(--btn-outline-bg-color-hover);
            border-color: var(--btn-outline-border-color-hover);
            color: var(--btn-outline-color-hover);
        }
    }

    @include max($mobile-max) {
        width: 100%;
    }
}


// link
.link {
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: var(--tab-text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: toRem(9px);
    transition: var(--transition);

    &:hover {
        color: var(--color-secondary);

        &.link-with-icon {
            svg {
                color: var(--color-secondary);
            }
        }
    }

    &.link-with-icon {
        svg {
            transform: rotate(180deg);
        }
    }
}