:root {

	--color-primary: #1B5A2E;
	--color-secondary: #BE2321;
	--color-text: #4D4D4D;
	--white: #F3F3F3;
	--black: #000;
	--tab-text-color: #666666;
	--impact-bg-color: #FFF3DB;


	/* color palette:
    76, 149, 156
    33, 96, 198
    85, 184, 130
    74, 160, 115
    47, 112, 168
    */

	--color1: rgb(76, 149, 156);
	--color2: rgb(33, 96, 198);
	--color3: rgb(85, 184, 130);
	--color4: rgb(74, 160, 115);
	--color5: rgb(47, 112, 168);

	// swiper
	--swiper-pagination-color: #666666;

	/*----------------------background---------------------*/
	--header-bg-color: #fff;
	--breadcrumb-bg-color: #fff3dbe6;

	/*----------------------Marker---------------------*/
	--green-marker: #149396;


	/*----------------------card---------------------*/
	--card-border-color: #6666664D;
	--card-bg-color: #ffffff;
	--card-dot-color: #333333;

	--card-sousProject-border-color: #cccccc;

	/*---------------------select---------------------*/
	--select-border-color: #999999;


	--transition: all 0.3s ease;

	/*----------------------global---------------------*/
	//bouton primary
	--btn-primary-bg-color: #311d64;
	--btn-primary-border-color: #311d64;
	--btn-primary-color: #ffffff;
	//bouton primary hover
	--btn-primary-bg-color-hover: #e53520;
	--btn-primary-border-color-hover: #e53520;
	--btn-primary-color-hover: #ffffff;

	//bouton secondary
	--btn-secondary-bg-color: #e53520;
	--btn-secondary-border-color: #e53520;
	--btn-secondary-color: #fff;
	//bouton secondary hover
	--btn-secondary-bg-color-hover: #311d64;
	--btn-secondary-border-color-hover: #311d64;
	--btn-secondary-color-hover: #fff;

	//bouton outline
	--btn-outline-bg-color: #fff;
	--btn-outline-border-color: #311d64;
	--btn-outline-color: #311d64;
	//bouton outline hover
	--btn-outline-bg-color-hover: #311d64;
	--btn-outline-border-color-hover: #311d64;
	--btn-outline-color-hover: #fff;


	/*----------------------TABLE---------------------*/
	--table-border-color: #1b1b1b;
	--table-head-bg-color: #311d64;
	--table-text-color: #fff;
	--table-head-text-color: #fff;
	--table-body-text-color: #333;
	--table-cell-padding: 10px;
	--table-secondary-row-bg-color: #f0f0f0;

	//font 
	--font-primary: "Franklin", sans-serif;

	//card
	--bg-card: #fff
}


//container
$container: 1296px;