.scene {
    canvas {
        width: 100vw;
        height: 100vh;
    }
}

.waveContainer {
    position: relative;
}

.scroll {
    position: absolute;
    color: var(--white);
    bottom: 25px;
    right: 40px;
    font-size: 12px;
    z-index: 100;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    transform-origin: bottom right;
    letter-spacing: 1.5px;
    gap: 3px;
    opacity: 0.8;

    .scroll-line {
        width: 102px;
        height: 1px;
        background: var(--white);
    }
}


.thanks {
    position: absolute;
    z-index: 100;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    width: 120px;
    letter-spacing: 1.2px;
    line-height: 1.5;


    &,
    a {
        color: var(--white);
    }

    a {
        border-bottom: 1px solid var(--white);
        display: inline-block;
    }
}